<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Everything I Know About Go</h1>
<form method="POST">
<input type="text" name="id">
<input type="submit">
</form>
<br>{{.}}

</body>
</html>