<!DOCTYPE html>
<html>
<head>
<title>Subscribe</title>
</head>
<body>

<h1>Everything I Know About Go</h1>

<form method="post">

    <input type="text" name="firstname" placeholder="first name"><br>
    <input type="text" name="lastname" placeholder="last name"><br>
    <input type="email" name="emailaddress" placeholder="email"><br>
    <input type="submit">

</form>

</body>
</html>